/* Loading custom 'Back To The Future' Font: */
@font-face {
  font-family: "Back To The Future";
  src: url("BTTF.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.UploadButton {
  background-color: #405cf5;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.UploadButton:hover,
.UploadButton:focus {
  background-color: #8c9ae6;
}

/* Classes */
.App.light {
  --font-color: rg(50, 50, 50);
  --background: rgb(255, 255, 255);
  --background--light: rgb(80, 80, 80);
  transition: all 0.3s;
}

.App.dark {
  --font-color: rgb(255, 255, 255);
  --background: rgb(50, 50, 50);
  --background--light: rgb(80, 80, 80);
  transition: all 0.3s;
}

.App.wood {
  --font-color: rgb(255, 239, 227);
  --background: rgb(184, 77, 0);
  --background--light: rgb(80, 80, 80);
  transition: all 0.3s;
}

.App.retro {
  --font-color: rgb(0, 255, 0);
  --background: rgb(37, 38, 37);
  --background--light: rgb(80, 80, 80);
  transition: all 0.3s;
}

.App {
  margin: 2rem auto;
  padding: 1rem 2rem;
  max-width: 600px;
  background: var(--background);
  color: var(--font-color);
  box-shadow: 4px 4px 10px rgba(33, 33, 33, 0.2);
  border-radius: 10px;
}

.AppHeader {
  font-family: "Back to The Future";
}

.Navbar {
  text-align: center;
}

.Theme {
  text-align: center;
}

.imgClass {
  border: 1px solid red;
}

.UploadButton {
  background-color: #405cf5;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.UploadButton:hover,
.UploadButton:focus {
  background-color: #8c9ae6;
}
